<button
  id="bottoneRefresh"
  class="fa fa-refresh"
  (click)="getFotoCani()"
></button>

<div class="bloccoFiltro">

  <input type="text" class="cercaCane" placeholder=" Cerca razza cane, Es: Akita" [(ngModel)] = "cercaCane">

<ng-select [ngModel]="numeroCani" (ngModelChange)="riduciNumCani($event)" placeholder="SELEZIONA">
  <ng-option value="10">10</ng-option>
  <ng-option value="20">20</ng-option>
  <ng-option value="50">50</ng-option>
  <ng-option value="94" selected>TUTTI</ng-option>
</ng-select>

</div>



<div class="containerFoto">
  <div
    *ngFor="let cane of JSON_CANI_FINALE | filter:cercaCane ; let i = index"
    class="listaCani"
    id="caniCard"
  >
    <img [src]="cane.img" />

    <span id="spanCane">{{ cane.nome }}</span>
  </div>
</div>

