*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.containerFoto {
    margin: 30px;
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
}

.listaCani img {
    width: 250px;
    height: 250px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.listaCani {
    width: 250px;
    height: 300px;
    display: inline-block;
    margin: 5px;
    border-radius: .50rem;
    box-shadow:  2px 2px 5px 2.5px rgba(0, 0, 0, .3);
    
}

#spanCane {
    display: block;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;
    text-align: center;
}

#bottoneRefresh {
    padding: 5px 10px;
    border: 2px solid #c5c5c5;
    border-radius: 9px;
    background-color: rgb(245, 245, 245);
}

#bottoneRefresh:focus {
    font-size: large;
}

ng-select, ng-option{
    display: inline-block;

 
}

.cercaCane{
    display: inline-block;
    border: 1px solid #c5c5c5;
    height: 36px;
    width: 50%;
    min-width: 350px;
    max-width: 1000px;
    border-radius: 4px;
    font-size: 18px;
    outline: 0;
    margin-left: 5px;
    margin-right: 5px;
}

.bloccoFiltro{
    text-align: center;

}

